
.header{
    background-color: var(--background-color);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    /* position: fixed; */
    z-index: 200;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    display: flex;
    gap: 4em;
}
.nav .logo{
    height: 60px;
    width: 60px;
}
.navbar ul a{
    font-size: 18px;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;

}
.navbar ul:hover a{
    color: var(--taupe);

}

.signin-login{
    display: flex;
    gap: 25px;
    align-items: center;
    position: relative;
}
.signin-login .profile-section{

}
.profile-data{
    width: 300px;
    height: 300px;
    left: -100%;
    top: 50px;
    border-radius: 5px;
    background-color: rgb(249, 247, 246);
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: var(--background-color);

}
.profile-data>:not(:first-child){
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding-bottom: 10px;

}
.signin-login .icon{
    position: relative;
    cursor: pointer;
}
.icon-cart{
    position: relative;
}

.signin-login .icon span{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    text-align: center;
    border-radius: 100%;
    line-height: 15px;
    font-size: 11px;
    top:-5px;
    right: -11px;
}

.signin-login button{
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
    align-self: center;
    height: 45px;

}
.signin-login button:hover{
    background-color: var(--taupe);
}

.menu-icon{
    display: none;
    cursor: pointer;
    height: fit-content;
}
.menu-icon .icon{
    background-color: var(--background-color);
    color: white;
    font-size: 25px;
}
.profile{
    padding: 5px 7px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: var(--main-color);

}

@media (max-width: 768px) {

    .menu-icon{
        cursor: pointer;
        display: block;
        position: relative;
        height: fit-content;
    }
    .navbar{
        display: none;
        gap: 0;
    }
    .navbar.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 9%;
    left: 3%;
    z-index: 100;
    background-color: var(--onyx);
    }
    .navbar.active .nav-link{
    width: 90vw;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
  }

    .navbar.active ul a{
    font-size: 20px;
    transition: 0.3s ease-in-out;

    }
    .navbar.active ul:hover a{
        color: var(--taupe);
    } 


}
